# 官方 ESP32-P4-Function-EV-Board + 板载 ESP32-C6 host 路线默认项
# 板载 C6 通过 SDIO 通信，切勿改为 SPI/UART
CONFIG_ESP_WIFI_REMOTE_ENABLED=y
CONFIG_ESP_WIFI_REMOTE_LIBRARY_HOSTED=y
# CONFIG_ESP_WIFI_REMOTE_LIBRARY_EPPP is not set
# CONFIG_ESP_WIFI_REMOTE_LIBRARY_CUSTOM is not set
CONFIG_ESP_HOSTED_ENABLED=y
# CONFIG_SLAVE_IDF_TARGET_ESP32 is not set
# CONFIG_SLAVE_IDF_TARGET_ESP32S2 is not set
# CONFIG_SLAVE_IDF_TARGET_ESP32C3 is not set
# CONFIG_SLAVE_IDF_TARGET_ESP32S3 is not set
# CONFIG_SLAVE_IDF_TARGET_ESP32C2 is not set
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
# CONFIG_SLAVE_IDF_TARGET_ESP32C5 is not set
# CONFIG_SLAVE_IDF_TARGET_ESP32C61 is not set
CONFIG_ESP_HOSTED_CP_TARGET_ESP32C6=y
# CONFIG_ESP_HOSTED_CP_TARGET_ESP32H2 is not set
# CONFIG_ESP_HOSTED_CP_TARGET_ESP32H4 is not set
CONFIG_ESP_HOSTED_P4_DEV_BOARD_FUNC_BOARD=y
# CONFIG_ESP_HOSTED_SPI_HOST_INTERFACE is not set
CONFIG_ESP_HOSTED_SDIO_HOST_INTERFACE=y
# CONFIG_ESP_HOSTED_SPI_HD_HOST_INTERFACE is not set
# CONFIG_ESP_HOSTED_UART_HOST_INTERFACE is not set

# 官方文档给出的 P4 + C6 推荐缓冲区 / LWIP 参数
CONFIG_WIFI_RMT_STATIC_RX_BUFFER_NUM=16
CONFIG_WIFI_RMT_DYNAMIC_RX_BUFFER_NUM=64
CONFIG_WIFI_RMT_DYNAMIC_TX_BUFFER_NUM=64
CONFIG_WIFI_RMT_TX_BUFFER_TYPE=1
CONFIG_WIFI_RMT_DYNAMIC_RX_MGMT_BUF=0
CONFIG_WIFI_RMT_ESPNOW_MAX_ENCRYPT_NUM=7
CONFIG_WIFI_RMT_AMPDU_TX_ENABLED=y
CONFIG_WIFI_RMT_TX_BA_WIN=32
CONFIG_WIFI_RMT_AMPDU_RX_ENABLED=y
CONFIG_WIFI_RMT_RX_BA_WIN=32

CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65534
CONFIG_LWIP_TCP_WND_DEFAULT=65534
CONFIG_LWIP_TCP_RECVMBOX_SIZE=64
CONFIG_LWIP_UDP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCP_SACK_OUT=y
