APP_NAME=SkyAnchor Server
APP_HOST=127.0.0.1
APP_PORT=8000

DATABASE_PATH=./skyanchor.db

MQTT_HOST=cd29033a.ala.cn-hangzhou.emqxsl.cn
MQTT_PORT=8883
MQTT_USERNAME=replace_me
MQTT_PASSWORD=replace_me
MQTT_USE_TLS=true
MQTT_CLIENT_ID=skyanchor-server
MQTT_KEEPALIVE=60
MQTT_TOPIC_PREFIX=skyanchor
MQTT_DEFAULT_DEVICE=0
MQTT_DISPATCH_DEVICES=0,1
